{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row center bottom-margin">
    <div class="col-12">
        <hr class="text-white">
        <h2 class="logo-font mb-4 high_z text-white">Welcome to BS Auto Parts.</h2>
        <hr class="text-white">
    </div>
    <div class="col-12 col-md-12 col-lg-4 home-card">
        <a href="{% url 'shop' %}">
            <div class="card dim card-margin">
                <div class="card-body dim">
                    <div class="card h-100 border-2 dim">
                        <img class="card-img-top img-fluid" src="{% static 'media/cart.jpg' %}" alt="Shopping tab">
                        
                        <div class="card-footer pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold text-center">Shop</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>        
    </div>
    <div class="col-12 col-md-12 col-lg-4 home-card">        
        <a href="{% url 'products'%}?sale=on_sale">
            <div class="card card-margin dim">
                <div class="card-body dim">
                    <div class="card h-100 border-2 dim">
                        <img class="card-img-top img-fluid" src="{% static 'media/clearance.JPG' %}" alt="Clearance items tab">
                        
                        <div class="card-footer pt-0 border-0 ">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 font-weight-bold text-center">Clearance items</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>        
    </div>
    <div class="col-12 col-md-12 col-lg-4 home-card">
        <a href="{% if request.user.is_authenticated %} {% url 'forum' %} {% else %} {% url 'account_login' %} {% endif %}">
            <div class="card card-margin dim">
                <div class="card-body dim">
                    <div class="card h-100 border-2 dim">
                        <img class="card-img-top img-fluid" src="{% static 'media/forum.JPG' %}" alt="forum tab">
                        
                        <div class="card-footer pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="mb-0 font-weight-bold text-black"></p>
                                    <p class="lead mb-0 text-left font-weight-bold text-center">Members Forum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>        
    </div>
    
</div>
<div class="row center bottom-margin">
    <div class="d-none d-lg-block col-lg-3"></div>
    <div class="d-none d-lg-block col-12 col-lg-6">
        <div class="card newsletter-box">
            <div class="card-body text-center newsletter-box">
                <p>Signup to our monthly newsletter</p>
                <form class="mt-3" method="POST" id="newsletter" action="{% url 'newsletter' %}">
                    {% csrf_token %}                    
                    <!-- <input class="bg-black text-white" type="email" required placeholder="Input your email address here">                     -->
                    <!-- <select name="optin" class="bg-black text-white select newsletter-option" id="id_optin">
                        <option value="0" selected="">Choose:</option>
                        <option value="1">Optout</option>
                        <option value="2">Optin</option>

                    </select> -->
                    {{ form }}
                    
                    
                    <button type="submit" class="btn btn-outline-bs rounded-2 float-right text-uppercase"><strong>SUBMIT</strong></button>
                </form>

            </div>
        </div>
    </div>
    <div class="d-none d-lg-block col-lg-3"></div>
</div>


{% endblock %}