{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container ">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid outer-container">
    <div class="overlay"></div>    
    <div class="container mb-2 high-z">
        <div class="row">
            <div class="col">
                <hr>
                <h3 class="logo-font mb-4 high_z">My Profile</h3>
                <hr>
            </div>
        </div>
       {{ profile }}
         
    </div>
    
</div>

{% endblock %}



