{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row ">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'store_management' %}">Store Management</a></li>
                    <li class="breadcrumb-item active text-white" aria-current="page">Contact Us List</li>                        
                </ol>
              </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2 text-center mb-5">
    <div class="row">
        <div class="col-12 col-md-6 high-z margin-0-auto">
            <hr>
            <h3 class="logo-font mb-4">Store Management</h3>
            <h5 class="logo-font text-muted ">Contact Us List</h5>
            <hr>
        </div>
    </div>
    <div class="row">        
        <div class="col-12 col-lg-6">
            <div class="card ">
                <div class="card-body">
                    <h3 class="logo-font">New Users:</h3>
                    <hr>
                    <div class="table-responsive current-stock">
                        <table class="table table-sm table-borderless table-striped">
                            <thead>
                                <tr>
                                    <th>Name :</th>
                                    <th>Message :</th>
                                    <th>Email :</th>
                                    <th>completed</th>
                                    <th>Toggle Status :</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in new_users %}
                                
                                    <tr>                                    
                                        <td>{{user.name}}</td>
                                        <td>
                                            {{user.message | truncatechars:20}}
                                        </td>
                                        <td>
                                            {{user.email }}
                                        </td>
                                        <td>
                                            {% if user.status == 0 %}
                                            <p class="red">N</p>
                                            
                                            {% else %}
                                            <p class="text-black">Y</p>                                        
                                            {% endif %}
                                            
                                        </td>
                                        <td> 
                                            <a href="{%url 'new_user_message' user.pk %}" class="btn btn-like text-white"><small>Message Details</small></a>                                            
                                        </td>                                            
                                    </tr>
                                    
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="logo-font">Existing Users:</h3>
                    <hr>
                    <div class="table-responsive current-stock">
                        <table class="table table-sm table-borderless table-striped">
                            <thead>
                                <tr>
                                    <th>Name :</th>
                                    <th>Message :</th>
                                    <th>Email :</th>
                                    <th>completed</th>
                                    <th>Toggle Status :</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for users in existing_contacts %}
                                
                                    <tr>                                    
                                        <td>{{users.user}}</td>
                                        <td>
                                            {{users.message | truncatechars:20}}
                                        </td>
                                        <td>
                                            {{users.email }}
                                        </td>
                                        <td>
                                            {% if users.status == 0 %}
                                            <p class="red">N</p>
                                            
                                            {% else %}
                                            <p class="text-black">Y</p>                                        
                                            {% endif %}
                                            
                                        </td>
                                        <td> 
                                            <a href="{%url 'existing_user_message' users.pk %}" class="btn btn-like text-white"><small>Message Details</small></a>
                                        </td>                                            
                                    </tr>
                                    
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>  
</div>

{% endblock %}

