{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container ">
    <div class="row">
        <div class="col-12">
            <menu aria-label="breadcrumb" class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item text-white" aria-current="page">Store Management</li>                        
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container mb-2 text-center mb-5">
    <div class="row management mt-5 mb-5">
        <div class="col-12 col-md-6 high-z margin-0-auto">
            <div class="bg-black border-white">
                <div class="bg-black">
                    <hr class="text-white">
                    <h3 class="logo-font mb-4 text-white">Store Management</h3>
                    <h5 class="logo-font text-muted "></h5>
                    <hr class="text-white">
                </div>
            </div>
            
        </div>
    </div>    
    <div class="row flex-and-center">
        <div class="col-12 col-md-3">
            <a href="{% url 'stock_management' %}">
                <div class="bg-black border-white management-btn">
                    <div class=" bg-black py-3">
                        <i class="fas fa-cubes"></i>
                        <p>Stock Control</p>
                    </div>
                </div>
            </a>    
        </div>
        <div class="col-12 col-md-3">
            <a href="{% url 'man_and_cat_list' %}">
                <div class="bg-black border-white management-btn">
                    <div class=" bg-black py-3">
                        <i class="fas fa-cubes"></i>
                        <p>Manufacturers and Categories</p>
                    </div>
                </div>
            </a>    
        </div>
        <div class="col-12 col-md-3">
            <a href="{% url 'contact_query' %}">
                <div class=" bg-black border-white management-btn">
                    <div class=" bg-black py-3">
                        <i class="fas fa-envelope fa-lg"></i>
                        <p>Contact Us List</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row flex-and-center">
        <div class="col-12 col-md-3">
            <a href="{% url 'add_product' %}">
                <div class="bg-black border-white management-btn">
                    <div class="bg-black py-3">
                        <i class="fas fa-plus"></i>
                        <p>Add Product</p>
                    </div>
                </div>
            </a>            
        </div>
        <div class="col-12 col-md-3">
            <a href="{% url 'add_category' %}">
                <div class="bg-black border-white management-btn">
                    <div class="bg-black py-3">
                        <i class="fas fa-plus"></i>
                        <p>Add Category</p>
                    </div>
                </div>
            </a>            
        </div>
        <div class="col-12 col-md-3">
            <a href="{% url 'add_manufacturer' %}">
                <div class="bg-black border-white management-btn">
                    <div class="bg-black py-3">
                        <i class="fas fa-plus"></i>
                        <p>Add Manufacturer</p>
                    </div>
                </div>
            </a>            
        </div>
    </div>
    <div class="row flex-and-center">
        
        <div class="col-12 col-md-3">
            <a href="{% url 'subscriber_list' %}">
                <div class="bg-black border-white management-btn">
                    <div class="bg-black py-3">
                        <i class="fas fa-book-open"></i>
                        <p>Newsletter List</p>
                    </div>
                </div>
            </a>            
        </div>
        <div class="col-12 col-md-3">
            <a href="https://brian-stritch-p5-bs-auto-parts.herokuapp.com/admin/" target="_blank" rel="external">
                <div class="bg-black border-white management-btn">
                    <div class="bg-black py-3">
                        <i class="fa fa-gears"></i>
                        <p>Administration Panel</p>
                    </div>
                </div>
            </a>     
        </div>
        <div class="col-12 col-md-3">
                      
        </div>
    </div>
</div>  

{% endblock %}

