{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container ">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid outer-container">
    <div class="overlay"></div>    
    <div class="container mb-2 high-z">
        <div class="row">
            <div class="col">
                <hr>
                <h3 class="logo-font mb-4 high_z">{{ user.username }}'s Profile Details</h3>
                <hr>
                <h5 class="logo-font high-z text-md-left">USER PROFILE</h5>
                <button class="btn btn-outline-black rounded-0 btn-lg">
                   <a href="#">Edit Profile</a> 
                </button>
                <button class="btn btn-outline-black rounded-0 btn-lg">
                    <a class="text-danger" href="#">Delete Account</a>
                </button>                                                      
                    
                
                <hr>
            </div>
        </div>
        
    </div>
    
</div>

{% endblock %}
