{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container ">
    <div class="col-12">
        <menu aria-label="breadcrumb" class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'forum' %}">Forum</a></li>
            <li class="breadcrumb-item active text-white" aria-current="page">Delete Post</li>
        </menu>
    </div>
    <div class="col-12">
        <hr class="hr text-white">
        <h4 class="text-center text-white"><strong>Forum Admin</strong></h4>
        <hr class="hr text-white"> 
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid outer-container">
    <div class="overlay"></div>    
    <div class="container mb-2 high-z">
        <div class="row">
            <div class="col">
                <hr>
                <h3 class="logo-font mb-4 high_z">{{ post.name }}</h3>                               
                <hr>
            </div>
        </div>
        <div class="row">            
            <div class="col-12 flex-and-center">
                <div class="card">
                    <div class="card-body">
                        <p class="text-muted">Delete Post</p>
                        <form  method="POST" style="margin-top: 1.3em;">                 
                            {% csrf_token %}
                            <hr>
                            <strong>Are You Sure You Want To DELETE this Post?</strong>
                            <hr>
                            <button class="btn btn-outline-black rounded-0 btn-lg text-md-left">
                           <a href="{% url 'forum' %}">Cancel</a> 
                            </button>
                            <button type="submit" class="btn btn-outline-black rounded-0 btn-lg text-md-right" >DELETE POST !</button> 
                        </form> 
                                 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


