{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'product_reviews/css/product_review.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container ">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid ">
    
    
    <div class="row">
        <div class="col-12 high-z">
            <hr>
            <h4 class="text-center "> <strong>Forum :</strong> </h4>
            <hr>
        </div>
    </div>
    {% for category in categories %}
    <div class="row high-z bg-white text-black">        
        <div class="col-12">
            <strong>{{ category.name }}</strong>    
        </div>
        {% for topic in topics %} 
        {% if category == topic.forum_category %}
        <div class="row">
            <a href="#">
            <div class="col-12">
                {{ topic.name }} 
                </div>
            </a>            
        </div>
        {% endif %}
        {% endfor %}            
    </div>
    {% endfor %}    
</div>
{% endblock %}