{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'forum/css/forum.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container ">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay forum"></div>



    <div class="container-fluid forum-banner">
        
        
        <div class="row">
            <div class="col-12 high-z bg-black text-white">
                <hr class="hr">
                <h4 class="text-center "> <strong>Members Forum :</strong> </h4>
                <hr class="hr">
            </div>
        </div>
        {% for category in categories %}
        <div class="row high-z flex-and-center column">
            <div class="col-12 col-md-6 col-lg-6 forum-heading-box">
                <div class="row">
                    <div class="col-12 forum-header">                
                        <h2>
                            <strong>                                
                                {{ category.name }}                                
                            </strong>
                        </h2>    
                    </div>                            
                </div>
            </div>      
                
            {% for topic in topics %} 
            {% if category == topic.forum_category %}
            <div class="col-12 col-md-6 col-lg-6 forum-topic-box">
                <div class="row forum-topic">
                    <a href="{% url 'topic_list' topic.slug %}">
                        <div class="col-12 ">
                            <div class="row">
                                <div class="col-12">{{ topic.name }}</div>
                                <div class="col-2"></div>
                                <div class="d-none d-md-block col-8 forum-excerpt"> {{ topic.excerpt }}</div>
                                <div class="col-2"></div> 
                            </div> 
                        </div>
                    </a>            
                </div> 
            </div>        
            {% endif %}
            {% endfor %}            
        </div>
        {% endfor %}    
    </div>

{% endblock %}