{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'forum/css/forum.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container ">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay forum"></div>
<div class="container-fluid forum-banner">  
    <div class="row ">
        <div class="col-12 high-z bg-black text-white mt-5">
            <hr class="hr">
            <h4 class="text-center "> <strong> {{ post.title }}</strong> </h4>
            <hr class="hr">            
            <!-- <div class="text-center">
                <a href="#" class="btn btn-outline-black rounded-0">Create Comment</a>
            </div>                         
            <div class="row">
                <hr class="hr">
                <div class="col-4">      
                    <p class="text-white">title  = {{ post.title }}</p>                        
                    <br>               
                </div>            
                <div class="col-8">
                    <p class="text-white">author id = {{ post.author }}|
                    excerpt= {{ post.excerpt }}</p>
                    <br>               
                </div> 
                <hr class="hr">
            </div>   -->
            {% if post  %}    
                {% if post.status == 1 %}
                <div class="row high-z product-review-outer ">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-lg-4 product-review-details">
                                <h3> <i>Title:</i>  {{ post.title }}</h3>                
                                <p><i>Content:</i>  {{ post.content }}</p>                    
                                <p><i>Created by :</i>  {{ post.author }} on {{ post.created_on }}</p> 
                            </div>                    
                            <div class="col-12 col-lg-8 comments-box  comment-scroll">
                                <h3 ><i>Comments:</i></h3>
                                <strong>
                                    {% if comments %}                                
                                        {% for comment in comments %}
                                            {% if comment.approved %}
                                                <div class="card comment-card">
                                                    <div class="card-body high-z">
                                                        <p>{{ comment.body }}</p>
                                                        <p ><i class="text-black">Comment by:</i> {{comment.name}}, <i class="text-black">posted on:</i> {{ comment.created_on}}</p>
                                                        {% if request.user.username == comment.name %}
                                                        <div class="row">
                                                            <div class="col">
                                                            <small class="">
                                                                {% if request.user.is_authenticated %}
                                                                    <a class="text-md-left {% if request.user.username == comment.name %} d-inline {% endif %}" href="{% url 'edit_review_comment' comment.pk %}">Edit Comment</a>
                                                                    <a class="text-md-left text-danger {% if request.user.userame == comment.name %} d-inline {% endif %}" href="{% url 'delete_review_comment' comment.pk  %}">Delete Comment</a>
                                                                {% endif %}
                                                                </small> 
                                                            </div>
                                                        </div>
                                                        
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% if request.user.username == comment.name %}
                                                <div class="row text-black high-z text-center">
                                                    <h4>Your comment is currently pending approval by admin and will appear shortly.</h4>
                                                </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                    <div class="row text-black high-z text-center">
                                        <h4>This Post has no comments yet!</h4>
                                    </div>
                                    {% endif %}                            
                                </strong>
                            </div>
                        </div>
                        <!-- -------------- comment count and likes with like form input --------------------->
                        <div class="row product-review-details">
                            <div class="col-2 col-lg-2">
                                {% with comments.count as total_comments %}
                                <strong class="text-secondary"><i class="far fa-comments"></i>
                                    {{ total_comments }}
                                </strong>
                                {% endwith %}                    
                                <strong>
                                    {% if user.is_authenticated %}
                                        <form class="d-inline like-btn-outline" action="{% url 'review_like' post.pk %}" method="POST">
                                            {% csrf_token %}                                    
                                            {% if liked %}
                                                <button type="submit" name="post_id" value="{{ post.pk }}" class="btn-like like-btn-outline" id="like-btn">
                                                    <i class="fas fa-heart red"></i>
                                                </button>
                                            {% else %}
                                                <button type="submit" name="post_id" value="{{ post.pk }}" class="btn-like like-btn-outline" >
                                                    <i class="far fa-heart white"></i>
                                                </button>
                                            {% endif %}    
                                        </form>
                                    {% else %}
                                        <span class="text-secondary"> <i class="far fa-heart white"></i> </span>                                
                                    {% endif %}
                                    <span class="text-secondary">{{ post.number_of_likes }}</span>
                                </strong>                        
                            </div>
                            {% if request.user.is_authenticated %}
                                {% if request.user == post.name %}
                                    <div class="col-7 col-lg-2 ">                    
                                        <small class="ml-3">
                                            <a href="#">Edit Post</a>                                            
                                            <a class="text-danger" href="#">Delete Post</a>
                                            
                                        </small>
                                    </div> 
                                {% endif %}
                            {% endif %}
                            <div class="col-4 col-lg-8">
                                
                                <small>                            
                                <a class="text-md-right {% if commented %} d-none {% endif %}" 
                                        href="{% url 'review_comment' review.slug  %}">Create Comment</a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row text-black high-z text-center">
                    <h4>Your review is currently pending approval by admin and will appear shortly.</h4>
                </div>
                {% endif%}
            {% else %}
            <div class="row text-black high-z text-center">
                <h4>This Product has no reviews yet!</h4>
            </div>                         
               
             
        </div>
    </div>
    
 
{% endblock %}