{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'forum/css/forum.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container ">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay bg-black"></div>
<div class="container-fluid forum-banner">  
    <div class="row ">
        <div class="col-12 high-z bg-black text-white mt-5">
            <hr class="hr">
            <h4 class="text-center "> <strong> {{ topic.friendly_name }} posts:</strong> </h4>
            {% if request.user.is_superuser %}
            <div class="text-center">
               <small class="ml-3">
                    <a href="{% url 'edit_forum_topic' topic.id %}">Edit</a>                                            
                    <a class="text-danger" href="{% url 'delete_forum_topic' topic.id %}">Delete</a>
                </small> 
            </div>
            
            {% endif %} 
            <hr class="hr">            
            <div class="text-center">
                <a href="{% url 'create_post' topic.pk %}" class="btn btn-outline-black rounded-0">Create Post</a>
            </div>
            
            {% for post in posts %}
                {% if post.topic == topic %}
                {% if post.status == 1 %}
                <a href="{% url 'post_detail' post.pk %}">
                    <div class="row">
                        <hr class="hr">
                        <div class="col-4">      
                            <p class="text-white">{{ post.title }}</p>                        
                            <br>               
                        </div>            
                        <div class="col-8">
                            <p class="text-white">{{ post.summary }}</p>
                            <br>               
                        </div> 
                        <hr class="hr">
                    </div>  
                </a>                         
                {% endif %}
                {% endif %}
            {% endfor %} 
        </div>
    </div>
    
 
{% endblock %}