html {
    height: 100%;
    background-color: black;
}

body {
    background: url('/media/bg_images/2jz-bg.JPG') no-repeat center center fixed;
    background-size: cover;
    height: calc(120vh - 164px);
    width: 100vw;
    font-family: "Open Sans", sans-serif;
    color: #313030;
}
#dim-cover{
    background-color: rgba(0, 0, 0, 0.590);
    height: 100vh;
    width: auto;
}


a {
color: #ff5821;
text-decoration: none;
}

a:hover {
color: #ff7e54;
text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
font-family: "Raleway", sans-serif;
}

/* *************** Header *****************************/
#topnav{
    background-color: orangered;
}
.orange{
    background-color: orangered;
}



/* **************** TOPBAR ****************************/
.nav-links{
    background-color: orangered;
    color: rgb(39, 38, 38);
}

.btn-outline-bs{
    border-color: orangered;
    color: orangered;
}
.btn-outline-bs:hover{
    background-color: #ff5821;
    color: #39312f;
}
.burger-logo{
    display: none;
}

@media(max-width: 992px){
    .burger-logo{
        display: block;
    }
}


/****************** Footer styling ******************************/

#footer{
    background-color: black;
    color: white;
    position: relative;
    z-index: 0;
}

#footer i{
    color: white;
}

/****************** index page styling ***************************/

.site-search-box{
    margin: 250px 0 50px 50px;
}
.vehicle-search-box{
    margin: 0px 0 50px 50px;
}

/* ******************* Products page styling ***************************/
.logo-font{
    color: #fff;
}

.product-heading{
    position: relative;
    z-index: 0;
}

hr.orange-hr{
    border: 5px solid orangered;
    border-radius: 2px;
}

.overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    position: fixed;
    background-color: black;
}

.black-bg{
    margin: 250px 0 50px 0;
}
