html {
    height: 100%;
    /* background-color: white; */
    padding-top: 10vh;
    width: 100vw;
}

body {
    background: url('/media/bg_images/2jz-bg.JPG') no-repeat center center fixed;
    background-size: cover;
    height: calc(120vh - 164px);
    width: 100vw;
    font-family: "Open Sans", sans-serif;
    color: #313030;
}
#dim-cover{
    background-color: rgba(0, 0, 0, 0.590);
    height: 100vh;
    width: 100vw;
    padding-top: 12vh;
}


a {
color: #ff5821;
text-decoration: none;
}

a:hover {
color: #ff7e54;
text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
font-family: "Raleway", sans-serif;
}

.white{
    color: white;
}

/* *************** Header *****************************/
#topnav{
    background-color: orangered;
}
.orange{
    background-color: orangered;
}



/* **************** TOPBAR ****************************/
.nav-links{
    background-color: orangered;
    color: rgb(39, 38, 38);
}

a:hover{
    color: orange;

}
.navbar-light .navbar-nav .nav-link {
    color:black;
}
.white-hover:hover,
.navbar-light .navbar-nav .nav-link:hover{
    /* border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    border-radius:5px; */
    color: white;
    font-weight: bolder;
    /* background-color: rgba(0, 0, 0, 0.404); */   
    
    
}
.navbar-nav .dropdown-menu,
.dropdown-menu{
    position: static;
    background-color: orangered;
    border: 1px solid black;
}
.nav-link{
    color: black;
    font-weight: bold;
}
.nav-item a:hover,
.dropdown-menu a:hover{
    color: white;
}
.dropdown-item{
    font-weight: bold;
}
.dropdown-item:focus, .dropdown-item:hover {
    
    background-color: #010101;
}

.btn-outline-bs{
    border-color: orangered;
    color: orangered;
}
.btn-outline-bs:hover{
    background-color: #ff5821;
    color: #39312f;
}
.burger-logo{
    display: none;
}

@media(max-width: 992px){
    .burger-logo{
        display: block;
    }
}

/* ********************* Toasts **********************************/
.message-container{
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 20000;
}

.custom-toast{
    overflow: visible;    
}

.toast-capper{
    height: 2px;
}
.toast-header{
    justify-content: space-between;
}
.toast-close-btn{
    background-color: black;
    border: 1px solid orangered;
    text-transform: uppercase;
    color: orange;
}
.toast-close-btn:hover{
    background-color: orangered;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
}

/****************** toasts styling taken from Code Institute Boutique Ado walkthrough */
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.toast-checkout-btn{
    background-color: black;
    color: white;
}
.toast-checkout-btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

/****************** Footer styling ******************************/

#footer{
    background-color: black;
    color: white;
    position: relative;
    z-index: 0;
    margin-top: 18vh;
}

#footer i{
    color: orangered;
}
#footer i:hover{
    color: white;
}

/****************** index page styling ***************************/


.site-search-box{
    margin: 50px 0 25px 50px;
}
.vehicle-search-box{
    margin: 0px 0 50px 50px;
}

.card{
    max-width: 90vw;
    
}
.manufacturer-list{
    color: black;
    background-color: white;
}
@media(min-width:986px){
    html{
        padding-top: 16vh;
    }
    #dim-cover-bag{
        padding-top: 13vh;
    }
}

@media(max-width:986px){
    #dim-cover{
        padding-top: 13vh;
    }
    #dim-cover-bag{
        padding-top: 13vh;
    }
    #footer{
        margin-top: 8vh;
    }
}

@media(max-width:576px){
    html{
        padding-top: 18vh;
        width: 100vw;
    }
    #dim-cover{        
        padding-top: 7vh;
        width: 100vw;
    }
    
    .w-100{
        width: 77% !important;
    }
    .card{
        max-width: 70vw;
    }
    .card-body{
        width: 70vw;
    }
    .site-search-box{
        margin: 5% 0 6% 13%;
    }
    .vehicle-search-box {
        margin: 5% 0 6% 13%;
    }
    .carousel {
        position: relative;
        width: 75vw;
    }  

    .carousel-indicators {
        position: relative;
        right: 0;
        bottom: -10em;
        left: -36px;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-right: 0%;
        margin-bottom: 1rem;
        margin-left: 0%;
        list-style: none;
    }
    .row>* {
        flex-shrink: 1;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }
    .carousel-control-next {
        right: 10%;
    }
    .carousel-control-prev {
        left: -13%;
    }
    #footer{
        width: 100vw;
    }
    
}

@media(max-width:432px){
    html{
        padding-top: 10vh;
    }
    .nav-link{
        font-size: 10px;
        padding: 0.5rem 1px 0.5rem 19px;
    }
    .search-box-width{
        width: 80vw;
    }
    .banner{
        font-size: 10px;
    }
}

/* ******************* Products page styling ***************************/
.logo-font{
    color: black;
    text-align: center;
}

.product-heading{
    position: relative;
    z-index: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
    
}

.product-container{
    border-radius: 5px;
}

.outer-product-container{
    
    margin-left: 5vw;
}

hr.orange-hr{
    border: 5px solid black;
    border-radius: 2px;
}

.overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    position: fixed;
    background-color: white;
    /* background-color: white; */
}


a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid black ;
    z-index: 2;
    background-color: white;
}

.btt-button:hover {
    border: 2px solid orangered ;
    z-index: 2;
    background-color: black;
    color: white;
}
.btt-link{
    color: black;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;    
}

@media(max-width:996px){

}

/************* Product detail page *********************/
.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
    border: 1px solid white;
}

.btn-orangered{
    background-color: orangered;
    color: black;
}
.btn-makes{
    color: orangered;
    background-color: black;
}
.btn-makes:hover{
    background-color: orangered;
    color: black;    
    border: 1px solid orangered;
}
.btn-orangered:hover,
.btn-orangered:focus,
.btn-orangered:active{
    background-color: white;
    color: black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
/* .btn-black:hover,
.btn-black:active,
.btn-black:focus */{ 
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}
.product-detail-heading{
    position: relative;
    z-index: 0;
    align-items: center;
    justify-content: center;
    left: -10vw;
    margin: 5vw auto;
    
}
.offset-1 {
    margin-left: 1.333333%;
}
.input-group .btn {
    position: relative;
    z-index: 2;
    color: orangered;
    background-color: black;
}
.input-group .btn:hover {
    position: relative;
    z-index: 2;
    background-color: orangered;
    color: black;
}


/* ********************* shopping bag page *******************************/
.outer-container{
    width: 100vw;
    min-height: 75vh;
}
.float-right{
    float: right;
}
.bag-margin{
    margin-left: 7vw;
}