.forum{
    background: url('/media/bg-4.jpg') no-repeat center center fixed;
}
.forum-header{
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5vh;
    margin: 5px;
    background-color: black;
    color: orangered !important;
}
.forum-topic{
    
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5vh;
    margin: 5px;
    background-color: orangered;
}
.forum-topic:hover{
    background-color: orange;
}
.forum-topic a {
    color: black;
}
.hr{
    border: 2px solid yellow;
}
.forum-banner{
    margin-top: -5vh;
}
.column{
    flex-direction: column;
}
.forum-topic-box{
    background-color: rgba(0, 0, 0, 0.608);
    padding: 3vh ;
    border-radius: 5vh;
}
.forum-heading-box{
    background-color: rgba(0, 0, 0, 0.608);
    padding: 3vh 7vh;
    padding-bottom: 0vh;
    margin-bottom: -1vh;
    border-radius: 5vh;
    width: 60%;
}
.forum-excerpt{
    min-height: 3vh;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5vh;
    margin:0px 5px 5px 5px;
    background-color: orangered;
}
.comment-scroll{
    max-height: 275px;
    overflow-y: auto;
}
.hover-off:hover{
    cursor: default;
}