.forum{
    background: url('/media/bg-4.jpg') no-repeat center center fixed;
}
.forum-header{
    width: 95vw;
    height: 5vh;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5vh;
    margin: 5px;
    background-color: black;
    color: orangered !important;
}
.forum-topic{
    width: 85vw;
    height: 3vh;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5vh;
    margin: 5px;
    background-color: orangered;
}
.forum-topic:hover{
    background-color: orange;
}
.forum-topic a {
    color: black;
}