{% extends "account/base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container ">
    <div class="row">
        <div class="col-12">
            <menu aria-label="breadcrumb" class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>                  
                  <li class="breadcrumb-item active text-white" aria-current="page">Error 500</li>                       
            </nav>
        </div>
    </div>
</div>
{% endblock %}
{% block inner_content %}
<h1 class="text-center">Error 500 - Server error
<hr>
<div class="my-5">
    <h4>
        <a href="{% url 'products' %}" 
            class="btn-orangered btn btn-lg rounded-0 text-uppercase py-3">
                Return to shop
        </a>
    </h4>
</div>
<hr>

{% endblock %}