
        <form method="GET" action="">
            <div class="input-group w-100">
                <input type="text" class="form-control border-black border rounded-0" name="q" placeholder="Search Our Site">
                <div class="input-group-append">
                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
                </div>
            </div>
        </form>

    


