
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item burger-logo">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <h2 class="logo-font text-black my-0"><strong>BS Auto Parts</strong></h2>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products'%}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products'%}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products'%}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="suspension_steering-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Suspension & Steering
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="suspension_steering-link">
                <a href="{% url 'products'%}?category=coilover_kits" class="dropdown-item">Coilover Kits</a>
                <a href="{% url 'products'%}?categoryt=steering_kits" class="dropdown-item">Steering Kits</a>
                <a href="{% url 'products'%}?category=camber_arm_kits" class="dropdown-item">Camber Arm Kits</a>
                <a href="{% url 'products'%}?category=coilover_kits,steering_kits,camber_arm_kits" class="dropdown-item">All Suspension & Steering</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="braking-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Braking
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="braking-link">
                <a href="{% url 'products'%}?category=fast_road_brake_kits" class="dropdown-item">Fast Road Braking Kits</a>
                <a href="{% url 'products'%}?category=racing_brake_kits" class="dropdown-item">Racing Braking Kits</a>
                <a href="{% url 'products'%}?category=brake_fitting_kits" class="dropdown-item">Brake fitting Kits</a>
                <a href="{% url 'products'%}?category=brake_hose_kits" class="dropdown-item">Brake Hose Kits</a>
                <a href="{% url 'products'%}?category=handbrake_kits" class="dropdown-item">Handbrakes</a>
                <a href="{% url 'products'%}?category=fast_road_brake_kits,racing_brake_kits,brake_fitting_kits,brake_hose_kits,handbrake_kits" class="dropdown-item">All Braking Parts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="motorsport-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Motorsport
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="motorsport-link">                
                <a href="{% url 'products'%}?category=engine_tuning_parts" class="dropdown-item">Engine Tuning Parts</a>
                <a href="{% url 'products'%}?category=turbocharging_kits" class="dropdown-item">Turbocharging</a>
                <a href="{% url 'products'%}?category=engine_electronics" class="dropdown-item">Electronics</a>
                <a href="{% url 'products'%}?category=differentials" class="dropdown-item">Differentials</a>
                <a href="{% url 'products'%}?category=safety_equipment" class="dropdown-item">Safety equiptment</a>
                <a href="{% url 'products'%}?category=protective_equipment" class="dropdown-item">Protective equiptment</a>
                <a href="{% url 'products'%}?category=timing" class="dropdown-item">Timing</a>                
                <a href="{% url 'products'%}?category=motorsport_misc" class="dropdown-item">Motorsport misc</a>
                <a href="{% url 'products'%}?category=engine_tuning_parts,turbocharging_kits,engine_electronics,differentials,safety_equipment,protective_equipment,timing,motorsport_misc" class="dropdown-item">All Motorsport</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="styling-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Styling
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="styling-link">
                <a href="{% url 'products'%}?category=spoilers" class="dropdown-item">Spoilers</a>
                <a href="{% url 'products'%}?category=splitters" class="dropdown-item">Splitters</a>
                <a href="{% url 'products'%}?category=alloy_wheels" class="dropdown-item">Alloys</a>
                <a href="{% url 'products'%}?category=audio" class="dropdown-item">Audio</a>
                <a href="{% url 'products'%}?category=lighting" class="dropdown-item">Lighting</a>
                <a href="{% url 'products'%}?category=styling_misc" class="dropdown-item">Styling misc</a>
                <a href="{% url 'products'%}?category=spoilers,splitters,alloy_wheels,audio,lighting,styling_misc" class="dropdown-item">All Styling</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="service-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Service parts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="service-link">
                <a href="{% url 'products'%}?category=oils" class="dropdown-item">Oils</a>
                <a href="{% url 'products'%}?category=oil_filters" class="dropdown-item">Oil Filters</a>
                <a href="{% url 'products'%}?category=air_filters" class="dropdown-item">Air Filters</a>
                <a href="{% url 'products'%}?category=fuel_filters" class="dropdown-item">Fuel Filters</a>
                <a href="{% url 'products'%}?category=spark_plugs" class="dropdown-item">Spark Plugs</a>
                <a href="{% url 'products'%}?category=glow_plugs" class="dropdown-item">Glow Plugs</a>
                <a href="{% url 'products'%}?category=service_misc" class="dropdown-item">Service misc</a>
                <a href="{% url 'products'%}?category=oils,oil_filters,air_filters,fuel_filters,spark_plugs,service_misc" class="dropdown-item">All Service</a>
            </div>
        </li>
    </ul>
</div>
