
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item burger-logo">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <h2 class="logo-font text-black my-0"><strong>BS Auto Parts</strong></h2>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="suspension_steering-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Suspension & Steering
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="suspension_steering-link">
                <a href="" class="dropdown-item">Coilover Kits</a>
                <a href="" class="dropdown-item">Steering Kits</a>
                <a href="" class="dropdown-item">Camber Arm Kits</a>
                <a href="" class="dropdown-item">All Suspension & Steering</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="braking-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Braking
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="braking-link">
                <a href="" class="dropdown-item">Fast Road Braking Kits</a>
                <a href="" class="dropdown-item">Racing Braking Kits</a>
                <a href="" class="dropdown-item">Brake fitting Kits</a>
                <a href="" class="dropdown-item">Brake Hose Kits</a>
                <a href="" class="dropdown-item">Handbrakes</a>
                <a href="" class="dropdown-item">All Braking Parts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="motorsport-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Motorsport
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="motorsport-link">                
                <a href="" class="dropdown-item">Engine Tuning Parts</a>
                <a href="" class="dropdown-item">Turbocharging</a>
                <a href="" class="dropdown-item">Electronics</a>
                <a href="" class="dropdown-item">Differentials</a>
                <a href="" class="dropdown-item">Safety equiptment</a>
                <a href="" class="dropdown-item">Protective equiptment</a>
                <a href="" class="dropdown-item">Timing</a>                
                <a href="" class="dropdown-item">Motorsport misc</a>
                <a href="" class="dropdown-item">All Motorsport</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="styling-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Styling
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="styling-link">
                <a href="" class="dropdown-item">Spoilers</a>
                <a href="" class="dropdown-item">Splitters</a>
                <a href="" class="dropdown-item">Alloys</a>
                <a href="" class="dropdown-item">Audio</a>
                <a href="" class="dropdown-item">Lighting</a>
                <a href="" class="dropdown-item">Styling misc</a>
                <a href="" class="dropdown-item">All Styling</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="service-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Service parts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="service-link">
                <a href="" class="dropdown-item">Oil Filters</a>
                <a href="" class="dropdown-item">Air Filters</a>
                <a href="" class="dropdown-item">Fuel Filters</a>
                <a href="" class="dropdown-item">Spark Plugs</a>
                <a href="" class="dropdown-item">Glow Plugs</a>
                <a href="" class="dropdown-item">Service misc</a>
                <a href="" class="dropdown-item">All Service</a>
            </div>
        </li>
    </ul>
</div>
