{% extends "base.html" %}

{% block content %}
    <div class="container header-container flex-and-center bottom-margin high-z">
        <div class="row high-z center display-content bottom-margin">
            <div class="col-12 col-md-8 bottom-margin">
                <div class="allauth-form-inner-contentbottom-margin">
                    <div class="card allauth-card border-orange bottom-margin">
                        <div class="card-body">
                            {% block inner_content %}
                            {% endblock %}
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="bottom-margin high-z">
            <div class="bottom-margin">

            </div>
        </div>
        <div class="bottom-margin">
            <div class="bottom-margin">

            </div>
        </div>
    </div>
{% endblock %}