{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block page_header %}
<div class="container header-container ">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>                  
                    <li class="breadcrumb-item active text-white" aria-current="page">Logout</li>                       
                </ol>
              </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block inner_content %}
<h2 class="text-center">{% trans "Sign Out" %}</h2>
<hr>
<p>{% trans 'Are you sure you want to sign out?' %}</p>
<hr>
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn-orangered" type="submit ">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
