{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description">
    <meta content="" name="keywords">
    {% endblock %}

    {% block extra-meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- ****************************test these links *******************************-->
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">


    <!-- Vendor CSS Files -->
    <!-- <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"> -->
    {% endblock %}

    {% block extra-css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/41b937922a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Vendor JS Files -->
    <!-- <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script> -->

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

    {% endblock %}

    {% block extra-js %}
    {% endblock %}
    <title>BS Auto Parts {% block extra_title %} {% endblock %}</title>
</head>

<body>
    <section id="dim-cover">
        <header class="container-fluid fixed-top">
            <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <h2 class="logo-font text-black my-0"><strong>BS Auto Parts</strong></h2>
                    </a>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 ">
                    {% if messages %}
                    <div class="message-container">            
                    </div>
                    {% endif %}
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 ">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="text-black nav-link">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="#" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                    <a href="#" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="{%if grand_total %}text-info font-weight-bold {% else %} text-black {% endif %} nav-link">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            €{{ grand_total|floatformat:2 }}
                                        {% else %}
                                            €0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                            
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row bg-white">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <button class="navbar-toggler" type="text" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-label="toggle navigation" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                </nav>
            </div>
            <div id="delivery-banner" class="row text-center">
                <div class="col bg-black text-white">
                    <h4 class="logo-font my-1">
                        Same day delivery on orders made before 3pm !
                    </h4>
                </div>            
            </div>
            <div id="delivery-banner" class="row text-center">            
                <div class="col bg-black text-white">
                    <h4 class="logo-font my-1">
                        Free delivery on orders over €{{free_shipping_threshold}}!
                    </h4>
                </div>
            </div>
        </header>   
        

        <!-- ======= Header ======= -->
        <header id="header" class="container-fluid fixed-top d-flex align-items-center">
            <div class="container-fluid d-flex justify-content-center justify-content-md-between">
                <div class="logo">
                    <h1><a href="{% url 'home' %}">BS Auto Parts</a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="{% url 'home' %}"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
                </div>

                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                class="text-black nav-link">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a href="#" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="#" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a href=""
                                class="{%if grand_total %}text-info font-weight-bold {% else %} text-black {% endif %} nav-link">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                        {% else %}
                                        €0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>

                        </li>
                    </ul>
                </div>
            </div>    
        </header><!-- End Header -->
            
            

        <section id="topbar" class="d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">
                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                        <li><a class="nav-link scrollto" href="#about">About</a></li>
                        <li><a class="nav-link scrollto" href="#services">Services</a></li>
                        <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
                        <li><a class="nav-link scrollto" href="#team">Team</a></li>
                        <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="#">Drop Down 1</a></li>
                                <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i
                                            class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a href="#">Deep Drop Down 1</a></li>
                                        <li><a href="#">Deep Drop Down 2</a></li>
                                        <li><a href="#">Deep Drop Down 3</a></li>
                                        <li><a href="#">Deep Drop Down 4</a></li>
                                        <li><a href="#">Deep Drop Down 5</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Drop Down 2</a></li>
                                <li><a href="#">Drop Down 3</a></li>
                                <li><a href="#">Drop Down 4</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>.navbar
            </div>

        </section>    
            
        
        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
        {% endblock %}


        <!-- ======= Footer ======= -->
        <!-- <footer id="footer">
            <div class="container d-lg-flex py-4">
                <div class="me-lg-auto text-center text-lg-start">
                    <div class="copyright">
                        &copy; Copyright <strong><span>BS_Auto_Parts</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">Designed by <a href="https://github.com/BrianStritch">Brian Stritch</a>
                    </div>
                </div>
                
                <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i>
                </a>

                <div class="social-links text-center text-lg-right pt-3 pt-lg-0">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>
        </footer> -->
        
        <!-- End Footer -->

    </section>


</body>

</html>